# SPDX-License-Identifier: MIT

if SHIELD_PIM447_NANO

config ZMK_KEYBOARD_NAME
    default "PIM447"

config ZMK_POINTING
    default y

config ZMK_PIMORONI_PIM447
    default y

config ZMK_PIM447_BEHAVIORS
    default y

endif
